<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiumi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".PhotoCaptureService"
            android:exported="false"/>
        <activity
            android:name=".TutorialCartAddedActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalCartAddedActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeBurgerCustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeNutritionInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeOrderCancelActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalBurgerSetOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalDrinkSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalSideMenuSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalSetSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialPaymentSelection"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".TutorialCartAddedActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".TutorialBurgerSetOrderActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialSideMenuSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialOrderActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialDrinkSelectionActiviy"
            android:exported="false" />
        <activity
            android:name=".TutorialSetSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialMainActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialPlaceSelectionActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".InstructionActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ProposalMainActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeBurgerSetOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeDrinkSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeSideMenuSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalPaymentSelection"
            android:exported="false" />
        <activity
            android:name=".ProposalQRSuccess"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeCartAddedActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeMainActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalPlaceSelection"
            android:exported="false" />
        <activity
            android:name=".ProposalFirstActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".InprovementFirstActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ImprovementActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ActualPracticeThankYou"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePickup"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePaymentMobileGiftComplete"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePaymentMobileGift"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePaymentMobileGiftScan"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePaymentCard"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePaymentSelection"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeQRSuccess"
            android:exported="false" />
        <activity
            android:name=".SurveyCompareActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EnglishPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeSetSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ActualPracticeActivity" />
        <activity
            android:name=".ActualPracticePlaceSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ActualPracticeActivity" />
        <activity
            android:name=".ActualPracticeActivity"
            android:exported="false"
            android:parentActivityName=".PracticeSelectionActivity" />
        <activity
            android:name=".ProposalActivity"
            android:exported="false"
            android:parentActivityName=".PracticeSelectionActivity" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false"
            android:parentActivityName=".PracticeSelectionActivity" />
        <activity
            android:name=".SurveyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PracticeSelectionActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>