<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiumi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ActualPracticeCartAddedActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeMainActivity"
            android:exported="false" />
        <activity
            android:name=".ProposalPlaceSelection"
            android:exported="false" />
        <activity
            android:name=".ProposalFirstActivity"
            android:exported="false" />
        <activity
            android:name=".InprovementFirstActivity"
            android:exported="false" />
        <activity
            android:name=".ImprovementActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeThankYou"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePickup"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePayment"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePaymentSelection"
            android:exported="false" />
        <activity
            android:name=".ActualPracticeQRSuccess"
            android:exported="false" />
        <activity
            android:name=".SurveyCompareActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EnglishPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ActualPracticePlaceSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ActualPracticeActivity" />
        <activity
            android:name=".ActualPracticeActivity"
            android:exported="false"
            android:parentActivityName=".PracticeSelectionActivity" />
        <activity
            android:name=".ProposalActivity"
            android:exported="false"
            android:parentActivityName=".PracticeSelectionActivity" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false"
            android:parentActivityName=".PracticeSelectionActivity" />
        <activity
            android:name=".SurveyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PracticeSelectionActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>