<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiumi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".feature.home.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.tutorial.TutorialThankYou"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialPickup"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialPaymentCard"
            android:exported="false" />

        <service
            android:name=".feature.common.PhotoCaptureService"
            android:exported="false" />

        <activity
            android:name=".feature.proposal.ProposalBurgerCustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalNutritionInfoActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalOrderCancelActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalPaymentCard"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalPaymentMobileGift"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalPaymentMobileGiftComplete"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalPaymentMobileGiftScan"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalPickup"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalThankYou"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialCartAddedActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalCartAddedActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeBurgerCustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeNutritionInfoActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeOrderCancelActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalBurgerSetOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalDrinkSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalSideMenuSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalSetSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialPaymentSelection"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".TutorialCartAddedActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".feature.tutorial.TutorialBurgerSetOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialSideMenuSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialDrinkSelectionActiviy"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialSetSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialMainActivity"
            android:exported="false" />
        <activity
            android:name=".feature.tutorial.TutorialPlaceSelectionActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".InstructionActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".feature.proposal.ProposalMainActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeBurgerSetOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeDrinkSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeSideMenuSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeOrderActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalPaymentSelection"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalQRSuccess"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeCartAddedActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeMainActivity"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalPlaceSelection"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.ProposalFirstActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".InprovementFirstActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ImprovementActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".feature.actualpractice.ActualPracticeThankYou"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticePickup"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticePaymentMobileGiftComplete"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticePaymentMobileGift"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticePaymentMobileGiftScan"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticePaymentCard"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticePaymentSelection"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeQRSuccess"
            android:exported="false" />
        <activity
            android:name=".feature.proposal.SurveyCompareActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.MainActivity" />
        <activity
            android:name=".feature.home.EnglishPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeSetSelectionActivity"
            android:exported="false"
            android:parentActivityName=".feature.actualpractice.ActualPracticeActivity" />
        <activity
            android:name=".feature.actualpractice.ActualPracticePlaceSelectionActivity"
            android:exported="false"
            android:parentActivityName=".feature.actualpractice.ActualPracticeActivity" />
        <activity
            android:name=".feature.actualpractice.ActualPracticeActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.PracticeSelectionActivity" />
        <activity
            android:name=".feature.proposal.ProposalActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.PracticeSelectionActivity" />
        <activity
            android:name=".feature.tutorial.TutorialActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.PracticeSelectionActivity" />
        <activity
            android:name=".feature.home.SurveyActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.MainActivity" />
        <activity
            android:name=".feature.home.PracticeSelectionActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.MainActivity" />
        <activity
            android:name=".feature.home.HelpActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.MainActivity" />
    </application>

</manifest>